/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/******************/
/* GENERAL STYLES */
/******************/
* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

body {
  background: #fbfbfb;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.wrapper {
  max-width: 800px;
  min-width: 400px;
  margin: 50px auto;
  padding: 0px 30px;
}

/********************/
/* LIST ITEM STYLES */ 
/********************/

.list {
  padding-left: 0px;
  clear: left;
}

.list-item {
  display: flex;
  text-decoration: none;
  font-size: 1.1em;
  line-height: 30px;
  padding: 5px;
  border: solid 2px #eee;
  background: #ffffff;
  margin-bottom: 7px;
  cursor: pointer;
  position: relative;
}

.list-item span:nth-child(1) {
  width: 38%;
  margin-right: 2%;
}

.list-item span:nth-child(2) {
  width: 18%;
  margin-right: 2%;
}

/********************/
/*    PAGE STYLES   */ 
/********************/

.summaries-list {
  float: left;
  width: 100%;
}

.summaries-list.sidebar-expanded {
  width: calc(100% - 300px - 15px);
  margin-right: 15px;
}

.details-sidebar {
  float: left;
  width: 40%;
  padding: 15px;
  border: 2px solid gray;
}

/********************/
/*TABLE HEADER STYLES*/ 
/********************/

.table-headers {
  display: flex;
  align-items: flex-end;
}

.table-headers h1, 
.table-headers span {
  float: left;
  margin: 0px;
  line-height: 1em;
}

.table-headers h1 {
  width: 38%;
  margin-right: 2%;
}

.table-headers span:nth-child(2) {
  width: 18%;
  margin-right: 2%;
}

.table-headers span:nth-child(3) {
  width: 40%;
}

/* **************** */
/* LIST ITEM STYLES */
/* **************** */

/********************/
/*DETAILS SIDEBAR STYLES*/ 
/********************/

.item-detail-value.status {
  text-transform: capitalize;
}

.item-detail-value.status:before {
  height: 12px;
  width: 12px;
  position: relative;
  display: inline-block;
  content: "";
  margin: 3px 5px 0px 0px;
  border-radius: 50%;
}

.item-detail-value.status.approved:before {
  background: #f19531;
}

.item-detail-value.status.in-process:before {
  background: #12c8b1;
}

.item-detail-value.status.in-consideration:before {
  background: #31b1f1;
}

.item-detail-value.status.complete:before {
  background: #808080;
}