/******************/
/* GENERAL STYLES */
/******************/
* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

body {
  background: #fbfbfb;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  max-width: 800px;
  min-width: 400px;
  margin: 50px auto;
  padding: 0px 30px;
}

header {
  margin-bottom: 20px;
}

button {
  cursor: pointer;
}

a.button {
  text-decoration: none;
  color: initial;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-style: solid;
  border-width: 1px;
}

/********************/
/* LIST ITEM STYLES */ 
/********************/

.list {
  padding-left: 0px;
  clear: left;
  list-style-type: none;
}

.list-item {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  font-size: 1.1em;
  line-height: 30px;
  padding: 5px 7px;
  border-bottom: solid 2px #d1d1d1;
  background: #fff;
  position: relative;
  margin-top: 0;
}

.list-item button {
  display: flex;
  align-items: right;
  font-size: 1em;
  padding: 2px 7px 3px;
  background: #f1f1f1;
}

.list-item.selected {
  background: #eee;
}

.list-item span:nth-child(1) {
  width: 36%;
  margin-right: 2%;
}

.list-item span:nth-child(2),
.list-item span:nth-child(3) {
  width: 20%;
  margin-right: 2%;
}

/********************/
/*    PAGE STYLES   */ 
/********************/

.summaries-list {
  float: left;
  width: 100%;
}

.summaries-list.sidebar-expanded {
  width: calc(100% - 300px - 15px);
}

.btn-display-add-modal {
  float: right;
  border-radius: 3px;
  background: #f1f1f1;
  font-size: 1em;
 }

.status-headers h3 {
  font-style: italic;
  color: #606060;
  border-bottom: 1px solid #606060;
  padding-bottom: 10px;
  margin-bottom: 0;
}

/********************/
/*TABLE HEADER STYLES*/ 
/********************/

.table-headers {
  display: flex;
  align-items: flex-end;
}

.table-headers h1, 
.table-headers span {
  float: left;
  margin: 0px;
  line-height: 1em;
}

.table-headers h1 {
  width: 43%;
}

.table-headers span:nth-child(2) {
  width: 26%;
}

/************************/
/*DETAILS SIDEBAR STYLES*/ 
/************************/

.details-sidebar {
  float: left;
  width: 300px;
  padding: 15px;
  border: 2px solid gray;
  margin: 30px 0 100px 0;
}

.details-sidebar h3 {
  margin: 0;
}

.details-sidebar h3 + p {
  margin: 0;
  font-size: .9em;
  font-style: italic;
  color: #878787;
}

.details-sidebar .edit-task-details,
.details-sidebar .edit-project-details {
  float: right;
}

.item-detail-group {
  border-bottom: solid 2px #d1d1d1;
  clear: both;
}

.item-detail {
  display: flex;
  padding: 12px 0 0;
  align-items: center;
}

.item-detail:last-of-type {
  padding-bottom: 12px;
}

.item-detail-label {
  width: 40%;
}

.item-detail-value {
  background: #eee;
  height: 29px;
  width: 60%;
  padding: 5px 7px;
  margin-left: 5px;
  overflow-x: scroll;
}

.item-detail-value.status {
  text-transform: capitalize;
}

.item-detail-value.status:before {
  height: 12px;
  width: 12px;
  position: relative;
  display: inline-block;
  content: "";
  margin: 3px 5px 0px 0px;
  border-radius: 50%;
}

.item-detail-value.status.approved:before {
  background: #f19531;
}

.item-detail-value.status.in-process:before {
  background: #12c8b1;
}

.item-detail-value.status.in-consideration:before {
  background: #31b1f1;
}

.item-detail-value.status.complete:before {
  background: #808080;
}

.full-width {
  width: 100%;
  display: inline-block;
}

.item-detail-value.paragraph {
  min-height: 36px;
  max-height: 124px;
  height: auto;
  overflow-y: scroll;
  display: block;
  width: 100%;
  border: 5px solid #eee;
  background: #fff;
  margin: 10px 0;
  line-height: 20px;
}

/* LET'S TRY GRID */



nav {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 33% 34% 33%;
  justify-content: center;
  font-size: 1em;
  border: solid 1px #575757;
}

nav a {
  color: #000;
  text-decoration: none;
  border-right: solid 1px #575757;
  text-align: center;
  padding: 7px 0px 3px;
}

nav a:last-child {
  border-right: none;
}

nav a.active {
  border-bottom: solid 5px #575757;
}